label.btn {
    width: 100%;
}

.well {
    margin-left: 30px;
    margin-right: 30px;
}

.well-header {
    padding: 5px;
}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary {
    background-color: #5DADE2;
    border-color: #5DADE2;
  } */

/* .btn-next, .panel > .panel-heading {
    background-image: none;
    background-color: #315891;
    color: white;
  } */

input[type="radio"] {
    position: fixed;
    opacity: 0;
}

.hr {
    height: 1px;
    border: none;
    color: #333;
    background-color: #333;
}